Flask
flask_cors
python-dotenv
langchain
langchain_groq
langchain_google_genai
langchain_community
faiss-cpu
docx
pypdf
concurrent.futures
openai
unstructured
pandas
numpy
requests
PyPDF2
pdfminer.six
